extends layout

block content
 h3 Add A Device
 form(method='POST', action='/admin/addDevice')
   .dev-tbl
     .row
       .col-md-12
         .tbl-1
           h3 Device Credentails
           table
             tr
               th DeviceID
               th Device Name
               th Sales Order Number (SO#)
               th Gearbox Size
               th Gearbox Configuration
               th Gearbox Nominal Ratio
               th Gearbox Exact Ratio
             tr
               td
                 input.form-control(name='deviceID', type='text', placeholder='Enter DeviceID')
               td
                 input.form-control(name='device_name', type='text', placeholder='Enter Device Name')
               td
                 input.form-control(name='son', type='text', placeholder='Enter Sales Order Number')
               td
                 input.form-control(name='gearbox_size', type='text', placeholder='Enter Gearbox Size')
               td
                 input.form-control(name='gearbox_configuration', type='text', placeholder='Enter Gearbox Configuration')
               td
                 input.form-control(name='gearbox_nominal_ratio', type='text', placeholder='Enter Gearbox Nominal Ratio')
               td
                 input.form-control(name='gearbox_exact_ratio', type='text', placeholder='Enter Gearbox Exact Ratio')
     .row
       .col-md-12
         .tbl-2
           h3 Device Numbers
           table
             tr
               th Customer Name
               th Install location (city/state)
               th Install location (country)
               th Basic or Advanced
               th Customer Motor Speed (rpm)
               th Customer Motor Amp Rating
               th Customer Motor HP
             tr
               td
                 input.form-control(name='customer_name', type='text', placeholder='Enter Customer Name')
               td
                 input.form-control(name='install_location', type='text', placeholder='Enter Install location (city/state)')
               td
                 input.form-control(name='install_country', type='text', placeholder='Enter Install location (country)')
               td
                 input.form-control(name='basic_or_advanced', type='text', placeholder='Enter Basic or Advanced')
               td
                 input.form-control(name='customer_motor_speed_rpm', type='text', placeholder='Enter Customer Motor Speed (rpm)')
               td
                 input.form-control(name='customer_motor_amp_rating', type='text', placeholder='Enter Customer Motor Amp Rating')
               td
                 input.form-control(name='customer_motor_hp', type='text', placeholder='Enter Customer Motor HP')
   .row
     .col-md-12
       .tbl-3
         h3 Device Numbers
         table
           tr
             th Customer Motor Voltage
             th Customer Motor Power Factor
             th Motor Current Transformer Ratio
             th Customer Speed Input Scaling - electrical
             th Customer Speed Input Scaling - physical
             th Customer Amp Draw Input scaling - electrical
             th Customer Amp Draw Input scaling - physical
           tr
             td
               input.form-control(name='customer_motor_voltage', type='text', placeholder='Enter Customer Motor Voltage')
             td
               input.form-control(name='customer_motor_power_factor', type='text', placeholder='Enter Customer Motor Power Factor')
             td
               input.form-control(name='motor_current_transformer_ratio', type='text', placeholder='Enter Motor Current Transformer Ratio')
             td
               input.form-control(name='customer_speed_input_scaling_electrical', type='text', placeholder='Enter Customer Speed Input Scaling - electrical')
             td
               input.form-control(name='customer_speed_input_scaling_physical', type='text', placeholder='Enter Customer Speed Input Scaling - physical')
             td
               input.form-control(name='customer_amp_draw_input_scaling_electrical', type='text', placeholder='Enter Customer Amp Draw Input scaling - electrical')
             td
               input.form-control(name='customer_amp_draw_input_scaling_physical', type='text', placeholder='Enter DeviceID')
   input.btn.btn-primary(type='submit', name='submit', value='Submit')
