extends layout

block content
 .login
  h2.page-header Login
  p Please login below
  if errors
   each error, i in errors
    div.alert.alert-danger #{error.msg}
  form(method='post', action='/users/login')
   .form-group
    label Username
    input.form-control(name='username', type='text', placeholder='Enter Username')
   .form-group
    label Password
    input.form-control(name='password', type='password', placeholder='Enter Password')
   input.btn.btn-outline-primary(type='submit', name='submit',value='Login')
  br
  .to-register
   h3 Not Registered?
   .register-btn
   a(href='/users/register')
    input.btn.btn-success(href='button', name='register', value='Register')
    
   include footer    