extends layout

block content
 .register
  h2.page-header Register
  p Please register using the form below
  if errors
   each error, i in errors
    div.alert.alert-danger #{error.msg}
  form(method='post', action='/users/register')
   .form-group
    label Company Name
    input.form-control(name='company', type='text', placeholder='Enter Company Name')
   .form-group
    label Name
    input.form-control(name='name', type='text', placeholder='Enter Name')
   .form-group
    label Email
    input.form-control(name='email', type='text', placeholder='Enter Email')
   .form-group
    label Phone
    input.form-control(name='phone', type='text', placeholder='Enter Phone')
   .form-group
    label Rexnord Authentication Token
    input.form-control(name='auth_token', type='text', placeholder='Enter Your Rexnord Authentication Token')
   .form-group
    label Username
    input.form-control(name='username', type='text', placeholder='Enter Username')
   .form-group
    label Password
    input.form-control(name='password', type='password', placeholder='Enter Password')
   .form-group
    label Confirm Password
    input.form-control(name='password2', type='password', placeholder='Confirm Password')
   .form-group
    label Device ID 1
    input.form-control(name='dev_id_1', type='text', placeholder='Enter Device ID')
   .form-group
    label Device ID 2
    input.form-control(name='dev_id_2', type='text', placeholder='Enter Device ID')
   .form-group
    label Device ID 3
    input.form-control(name='dev_id_3', type='text', placeholder='Enter Device ID')
   .form-group
    label Device ID 4
    input.form-control(name='dev_id_4', type='text', placeholder='Enter Device ID')
   .form-group
    label Device ID 5
    input.form-control(name='dev_id_5', type='text', placeholder='Enter Device ID')
   .form-group
    label Device ID 6
    input.form-control(name='dev_id_6', type='text', placeholder='Enter Device ID')  
   input.btn.btn-primary(type='submit', name='submit',value='Register')

     